{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}

{% block nav %}
{% include "browser/browser.html.twig" %}
{% endblock nav %}
{% if is_granted('ROLE_ADMIN') %} 
<p>Welcome {{ app.user.email }}</p>

{% elseif is_granted('ROLE_USER') %}   
<p>Welcome {{ app.user.firstname }}</p>

{% else %}
<h3 style="text-align: center">Welcome</h3>

{% endif %}
    <div class="container mt-3 col-md-6">
        <form class="navbar-form" role="search" id="nav-search-form" method="post" action="{{ path('search') }}">
            <div class="input-group add-on">
                <input type="text" id="search" placeholder="Search conference" class="form-control" name="search">
                    <div class="center-align">
                        <button type="submit" class="btn btn-outline-primary">search</button>
                    </div>
            </div>
        </form>
    </div>
    {% for page in pagination %}
        <div class="container">
            <div class="row mt-3 mb-3 d-flex justify-content-center">
                    <div class="card text-center" style="width: 50rem;">
                        <div class="card-header">
                            <h3><a href="{{ path('conferenceId', {'id': page.id}) }}">{{ page.title }}</a></h3>
                        </div>
                        <div class="card-body">

                            <p class="card-text">{{ page.description }}</p>

                        </div>
                        <div class="card-footer text-muted">
                            <p class="mt-1"><i>{{ page.createdAt|date("d/m/Y") }}</i></p>
                        </div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div>
                            <a class="mr-1" href="{{ path('editconf', {'id': page.id}) }}">Modifier
                                ✍🏼</a>
                            <a href="{{ path('remove_conference', {'id': page.id}) }}">Supprimer 🗑️</a>
                        </div>

                    {% endif %}
                </div>
            </div>
    {% endfor %}
    <div class="container">
    <div class="d-flex">
    <div class="col-md-6">
    <ul class="pagination">
        <li class="waves-effect">{{ knp_pagination_render(pagination) }}</li>
    </ul>
    </div>
    <div class="col-md-6">
    <a class="btn btn-primary" href="/admin/conference/topDix" role="button">voir les conferences les plus notées</a>
    </div>
    </div>
    </div>


{% endblock %}
