{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}

{% block nav %}
{% include "browser/browser.html.twig" %}
{% endblock nav %}
    <div class="container mt-3">
        <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('search') }}">
            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input type="text" id="search" class="validate" name="search">
                <label for="search" class="center-align">Tapez votre recherche ici</label>
                <span class="input-group-btn">
                    <div class="center-align">
                        <button type="submit" class="btn black">Rechercher</button>
                    </div>
              </span>
            </div>
        </form>
    </div>
    {% for page in pagination %}
        <div class="container">
            <div class="row mt-3 mb-3">
                <div class="col s12 m12">
                    <div class="card white hoverable">
                        <div class="card-content white-text">
                            <span class="card-action">
                                <h4>
                                    <a href="{{ path('conferenceId', {'id': page.id}) }}">{{ page.title }}</a>
                                </h4>
                            </span>
                            <p class="black-font">{{ page.description }}</p>
                        </div>
                        <div class="card-action">
                            <p class="mt-1"><i>{{ page.createdAt|date("d/m/Y") }}</i></p>
                        </div>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div>
                            <a class="mr-1" href="{{ path('edit_conference', {'id': page.id}) }}">Modifier
                               </a>
                            <a href="{{ path('remove_conference', {'id': page.id}) }}">Supprimer </a>
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="container">
    <div class="d-flex">
    <div class="col-md-6">
    <ul class="pagination">
        <li class="waves-effect">{{ knp_pagination_render(pagination) }}</li>
    </ul>
    </div>
    <div class="col-md-6">
    <a class="btn btn-primary" href="/admin/conference/topDix" role="button">voir les conferences les plus notées</a>
    </div>
    </div>
    </div>


{% endblock %}
