{% extends 'base.html.twig' %}

{% block title %}Conference{% endblock %}
{% block body %}
    {% block nav %}
        {% include "browser/browser.html.twig" %}
    {% endblock nav %}
    <div class="container-fluid col-2 text-center mt-4">
        {{ form_start(form) }}
        <div class="form-group mt-3">
            {{ form_row(form.title, {'attr': {'class': 'form-control text-center'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.description, {'attr': {'class': 'form-control text-center'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.createdAt, {'attr': {'class': 'form-control text-center'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.add, {'attr': {'class': 'form-control btn btn-danger'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
